@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/spacing";

$wh:5em;
.badge{
  text-align: center;
  position:relative;
  flex: 0 0 auto;
  transition: 0.4s all ease-in-out;
  &, & > .badge__image,& > .badge__check{
    width:$wh;
  }

  & > .badge__image, & > .badge__check{
    height:$wh;
    border-radius: 100%;
    cursor: pointer;
  }

  & > .badge__image{
    text-align: center;
    background-color: $text-muted;
    display: flex;
    align-items: center;
    opacity: 0.8;
    img{
      width: 60%;
      margin: auto;
    }
  }

  & > .badge__text{
    text-align: center;
    color:$text-light;
    display: inline-block;
    font-size: 0.8em;
  }

  & > .badge__check{
    top:0;
    left: 0;
    color: white;
    line-height: $wh;
    font-weight:bold;
    position: absolute;
    opacity: 0.9;
    display: none;
    background-color: #858585;
  }

  &:hover, &.selected{
    & > .badge__check{
      display: block;
    }
    & > .badge__image{
      opacity: 1;
    }
  }
}
