$background-primary-color:color(red);
$background-secondary-color:color(red);
$background-accent-color:color(red);

$text-light: #aba9a9;
$text-medium: #3e3c3c;
$text-dark: lighten(black,2%);

$primary-color: #f36166;
$secondary-color: #9ebfff;
$accent-color: #6b62ff;

$text-secondary-color: #f0f0f0;
$text-white-color: #fbfafa;
$text-primary-color: #272727;
$text-accent-color: #272727;

$border-light-color:$text-secondary-color;
$small-font-size:0.7em;
