$background-color:color(red);
$text-light: #aba9a9;
$text-medium: #3e3c3c;
$text-dark: lighten(black,2%);
$primary-color: #f36166;
$secondary-color: #9ebfff;
$optional-color: #6b62ff;
$text-secondary-color: #f0f0f0;
$text-primary-color: #272727;
$border-light-color: #f1f1f1;
$small-font-size:0.7em;
