<accounts>
  <div class="flex-align-center flex display-flex flex-row fill-height">
    <div class="fill-width" style="max-width: 28em">
      <div>
        <h1 class="center color-primary-text fill-width text-color-dark"><a routerLink="/accounts/sign-in" class="text-weight-bold">Hi !</a></h1>
        <div class="display-flex flex-row">
          <div style="padding: 0.5em 0">
            <h3 class="text-color-medium">We've been <span class="text-color-primary text-weight-bold">waiting</span> for you !</h3>
            <span class="text-color-light text-small">Sign up with default account providers  or <a routerLink="/accounts/sign-in">login to account</a>  </span>
          </div>
        </div>

      </div>

      <form class="flex-column flex display-flex">
        <input type="text" placeholder="Fullname" />
        <input type="text" placeholder="Type of Sound" />
        <input type="text" placeholder="Username" />
        <input type="password" placeholder="Password" />
      </form>
      <p class="text-color-medium text-small">
        Already have an account ? <a routerLink="/accounts/sign-in"> Sign in.</a>
      </p>
      <a routerLink="signup" class="btn btn-block  text-align-center">Create Account</a>
      <div>
        <hr>
      </div>
      <div class="display-flex flex-row">
        <a href="#" class="btn-block btn facebook" alt="login with facebook" ><i-feather name="facebook"></i-feather> Sign up with facebook</a>
      </div>

    </div>
  </div>
</accounts>

