<div style="max-width: 60em; margin: auto">

  <div style=" margin-top: 2em;">
    <h4 class="text-weight-bold text-color-medium text-large">Almost done!</h4>
    <h4 class="text-small text-weight-normal text-color-light mt-6">Let others get to know you better, you can choose to complete this later.</h4>
  </div>

  <div class="display-flex  flex-column my-6">
    <div class="display-flex flex-align-start flex-row">
      <div class="display-flex flex-align-center flex-row">
        <img src="../../../assets/images/gabriel-gurrola-2UuhMZEChdc-unsplash.jpg" class="avatar-large avatar-circle">
        <div class="flex-row ml-6">
          <a href="#" class="btn btn-light btn-block-inline btn-medium">Add a profile photo</a>
          <div class="text-small text-color-light mt-2 ">Or you can use our image generator</div>
        </div>
        <input type="file" class="hidden">
      </div>
    </div>
  </div>
  <div>

    <ng-select [multiple]="true" [(ngModel)]="selectedCars">
      <ng-option *ngFor="let car of cars" [value]="car.id" [disabled]="car.disabled">{{car.name}}</ng-option>
      <ng-option [value]="'custom'">Custom</ng-option>
    </ng-select>

  </div>


  <div class="my-10 display-flex flex-align-start flex-column ">
    <a href="" class="btn btn-block-inline btn-extended" routerLink="/">I'm done</a>
  </div>

</div>
