<div class="grid-container">
  <aside></aside>
  <header></header>
  <main>
    <div class="container">
      <div>
        <div class="display-flex flex-row flex-space-between">
          <h1 *ngIf="true">Dashboard</h1>
          <div>
            <i-feather name="heart"></i-feather>
            <i-feather name="github"></i-feather>
            <i-feather name="user"></i-feather>
            <i-feather name="camera"></i-feather>
          </div>
        </div>
        <div class="display-flex flex-row flex-space-between">
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
        </div>
      </div>
      <div>
        <h3 style="vertical-align: middle">
          <i-feather name="user"></i-feather>
          <span>Users</span>
        </h3>
      </div>
    </div>

  </main>
  <footer ></footer>
</div>

<router-outlet></router-outlet>
