<div class="flex-row display-flex flex-space-between "  >
  <div class="flex fill-height display-flex flex-align-center" style="background: #f9daeb; width: 27em;">
    <div>
      <img src="../../../assets/images/pablo-friendship.png">
      <p class="text-color-light"></p>
    </div>
  </div>

  <div class="flex flex-1 px-6">
    <div style="" class="display-flex flex-space-between flex-align-center">
      <div style="width: 10em;" class="flex">
        <icon-svg name="logo"></icon-svg>
      </div>

      <div class="flex">
        <a href="" class="icon-btn m-0" (click)="goBack()">
          <i-feather name="chevron-left"></i-feather>
        </a>
      </div>
    </div>
  <router-outlet></router-outlet>
  </div>
</div>
