<accounts>
  <div class="flex-align-center flex display-flex flex-row fill-height">
    <div class="fill-width" style="max-width: 28em">
      <div>
        <h1 class="center color-primary-text fill-width text-color-dark"><a routerLink="/accounts/sign-in" class="text-weight-bold">Recover Password </a></h1>
        <div class="display-flex flex-row">
          <div style="padding: 0.5em 0">
            <h3 class="text-color-medium">Your password is your property, keep it <span class="text-color-primary text-weight-bold">safe</span>.</h3>
            <span class="text-color-light text-small">Check your email for recovery information  or <a routerLink="/accounts/sign-in">sign in now </a>  </span>
          </div>
        </div>

      </div>

      <form class="flex-column flex display-flex">
        <input type="text" placeholder="email" />
        <button class="btn btn-block text-align-center" type="submit">Recover password</button>
      </form>
    </div>
  </div>
</accounts>

